@font-face {
    font-family: 'Open Sans';
    src: url('fonts/FontAwesome.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
      * {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    font-family: 'Poiret One', cursive;
  }
  header {
    display: flex;
  color: white;
  font-weight: bolder;
    background-color: rgba(0,0,0,0.2);
    justify-content:space-between;
    align-items: center;
  }
  header>span{
    padding: 1em;
  }
  
  .menu {
    width:100%;
    display: flex;
    position:absolute;
    top:4rem;
    flex-direction:column;
    background-color: rgba(255, 0, 0, 0.2);
    transform: translatex(-100%);
    transition:transform 0.4s;
    
  }
  #hamburguesa{
    display:none;
  }
  
  #icono{
    padding:1rem;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menu li {
    padding:1rem;
    margin:1px;
    text-align:center;
  }
  #hamburguesa:checked ~ .menu {
    transform: translatex(0%);
  }
  
  .menu li:hover{
    
    background: rgba(0,0,0,0.3);
  }
  #uno{
    background-image: url("images/fondom.jpg");
      height: 750px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#contenedor{
    display: flex;
   align-items: center;
    flex-direction: column;
}
#primero > #contenedor{
  margin-top: 30px;
  color: white;
  padding: 30px;
  text-align: center;
}
#primero{
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#ies{
  color: red;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;

}
#segundo > #contenedor{
  text-align: left;
  padding: 5px;
}
#primera-foto{
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 10px;
  margin-left: 5px;
}
#primera-foto >p,h1,span{
 padding: 5px;
}
#segunda-foto{
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 10px;
  margin-left: 5px;
}
#segunda-foto >p,h1,span{
 padding: 5px;
}
#tercera-foto{
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 10px;
  margin-left: 5px;
}
#tercera-foto >p,h1,span{
 padding: 5px;
}

#tercero{
    height: 300px;
    background-image: url("images/b2.jpg");
    background-size: 100% 100%;
  
}
#tercero > #contenedor{
    color: white;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
#elemento-1{
    padding: 20px;
}
#elemento-1 > i{
   font-size: 30px;
}
#elemento-2 > i{
   font-size: 30px;
}
#elemento-3 > i{
   font-size: 30px;
}
#elemento-4 > i{
   font-size: 30px;
}
#cuarto > h1{
    color: red;
    text-align: center;
}
#cuarto{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
img{
    width: 100%;
}
#cuarto > #contenedor-fuera>#contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
#cuarto > #contenedor >div{
   width: 150px;
   text-align: center;
}
#cuarto >#contenedor>div>h1 {
    font-size:10px;
    padding: 10px;
}
#cuarto p{
    padding: 10px;

}
#cuarto i{
    color: red;
    font-size: 45px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
footer > #contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#tecno{
    font-size: 40px
}
#rojo{
    color: red;
}
#Subtitulo{
    font-size: 8px;
    font-weight: bold;
}
#descripcion{
    font-weight: bold;
    font-size: 14px;
}
#segundo{
    padding: 30px;
}
#segundo > #contenedor>div{
    margin: 10px;
}